@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Crimson-Text';
    src: url('./fonts/CrimsonText-Regular.ttf');
}

p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: #a3a3a3; 
}


.hover:hover {
    color: gold;
}

.poppins {
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
}